{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for msg in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ msg.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ msg.timestamp.strftime('%d %B %Y') }}
            </span>
          {% if msg.user != g.user %}
            {% if g.csrf_form %}
            <form action="/likes/{{ msg.id }}/add" method="POST" class="star">
              {{ g.csrf_form.hidden_tag() }}
              <button type="submit" class="btn btn-link">
                <i class="bi bi-hand-thumbs-up{{ '-fill' if msg in g.user.messages_liked else ''}}"></i>
              </button>
            </form>
            {% endif %}
          {% endif %}
        <p>{{ msg.text }}</p>
      </div>
    </li>
    

    {% endfor %}

  </ul>
</div>
{% endblock %}